ul{
display: flex;
flex-direction: row;
justify-content: center;  
list-style-type: none;
margin-left: 200px;
padding: 0;
position: relative;
} 
.menuComp li a {
    display: flex;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    width: 140px; 
    height: 40px; 
    font-weight: 700;
    
  }
  .menuComp li a:hover:not(.active) {
    background-color: #772222; 
    color: white !important; 
    text-decoration: none; 
    margin-left: 3px; 
    margin-right: 3px;
  }
  
  .active {
    background-color: #772222;  
    color: white !important; 
  } 
  li a:hover.active{
      color: white !important; 
      text-decoration: none;
  }
  
  .menuComp li {  
    position: relative;
  display: inline-block; 
  /*transition-duration: 0.5s;*/
    
  } 
  .li1{
    display: block;
  }
 
 ul li ul
{
    position: absolute;
    display: none;
    text-align: left;
    border-top: none;
    background-color:beige;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -7px;
    width: 250px;
    height: 100px;
    visibility: hidden;
    /*transition: all 0.5s ease;*/
}



ul li:hover > ul,
ul li ul:hover{
  display: block; /* Display the dropdown */
  visibility: visible;
  opacity: 1;
  z-index: 900;
}
ul li ul li{
  display: block;
  clear: both;
}
.ghj{
  background-color: #9e000f;  
  background-color: #f0bfc2; 
  background-color: #878962; 
  background-color: #e4dcd1; 
  background-color: #772222;
}
.img{
  justify-content: center; 
  margin-bottom: 0px;
} 
.header1{
  height: 80px;
  width: 100%;
  background-color: #9e000f;
  margin: auto; 
  
}
.h{
  font-family: 'Libre Baskerville', serif;
  color: white; 
  text-align: center;
  padding-top: 10px;
}

.img{
  margin-top: -50px;
}
.icon{
border-radius: 50%;

}
.icon:hover{
  box-shadow: 0 0 2px 1px #e4dcd1;
}
.cont{
  float: right; 
  margin-top: -40px; 
  margin-right: 10px;
  
}
.cont:hover{
  color: white;
  cursor: pointer;
}
.carousel{
  padding: 5px;
  padding-top: 10px;
}
.info-box{
  height: 60%;
  width: 80%; 
  background-color: #878962;
  /*display: flex;*/
  z-index: 10;
  position: absolute;
  margin-top: -100px;
  /*margin-left: 4%;*/
 
}

.infoMargin{
  margin-bottom: 32em;
}





/*Parte de imagenes del inicio*/
#descArticulos img{
  width: 100%;
}





/* FOOTER*/
footer p{
  color: #999;
  line-height: 25px;
}
footer h2,h3{
  color: #fff;
}
footer h2{
  font-size: 32px;
  color: #fff;
  letter-spacing: 1px;
  margin: 10px;
  margin-left: 0;
}

footer{
  background: rgb(34, 34, 34);
  padding: 80px 0;
  margin-top: 3em;
}

.fSegmentoUno{
  color: #fff;

  margin: 10px;
  border-right: solid 1px;
}
.fSegmentoDos{
  color: #fff;
  margin: 10px;
  border-right: solid 1px; 
}
.fSegmentoTres{
  color: #fff;
  margin: 10px;
  border-right: solid 1px; 
}

footer a{
  color: #999;
}
footer li{
  list-style-type: none;
}

footer a:hover{
  color: #fff;
  text-decoration: none;
}



/* parte de subpaginas*/

.seccionesbg{
  background-image: url(../imagenes/imagen1.JPG);
  color: white;
  padding: 4em;
  margin-top: 3em;
}

.seccionesbg h2{
  font-size: 4em;
}



#botonToggle1 {
  display: none;
  border-style: solid;
  border-width: 1px;
  border-color: #e4dcd1;
  padding-top: 1em;

}
#botonToggle1 img{
  width: 100%;
  
}




#botonToggle2 {
  display: none;
  border-style: solid;
  border-width: 1px;
  border-color: #e4dcd1;
  padding-top: 1em;

}



#botonToggle2 img{
  width: 100%;
  
}



#botonToggle3 {
  display: none;
  border-style: solid;
  border-width: 1px;
  border-color: #e4dcd1;
  padding-top: 1em;
}

#botonToggle3 img{
  width: 100%;
  
}